.index__main
  .header
    .header__title
      Athlete
    .header__login
      = link_to "新規会員登録", new_user_registration_path()
      = link_to "ログイン", new_user_session_path()
      = link_to "ログアウト",destroy_user_session_path(),method: :delete 
      
      

  .post__main

    

    -# %video{:class=>"post__main__video",:autoplay => "", :loop => "", :muted => "", :src => "https://i.gyazo.com/2eaad851ac3ab53a90e2e23d11bf4862.mp4"}
    -# .post__main__text
    -#   %p このアプリケーションは
    -#   %p 日々の練習や試合をチーム内で共有できます。
    -#   %p ミーティングでメンバーが集まれなくても大丈夫。
    -#   %p どこにいてもミーティングに参加できます。

      
  .footer
    %p HOME
    %p NEWS
    %p TEAM
    %p MEMBER
    %p RECRUIT
    %p GAME
    %p BLOG
    %p FLAG TEAM
    %p GALLERY
    %p SCHEDULE