= render "template/template_header"

.post__index__main
  .post__index__main__center
    .post__index__main__center__content
      .post__index__main__center__content__title
        %p 最新の投稿
    - @post.each do |post|
      %video{:class=>"post__index__main__center__video",:autoplay => "", :loop => "", :muted => "", :src => "#{post.video}"}
  .post__index__main__right
    - @category.each do |category|
      .post__index__main__right__text
        -# =link_to "#{category.text}","posts/1/category/1"
      
      
= render "template/template_footer"
