
.index__main{
  height:120vh;
  width: 100vw;
}
.header{
  height:100px;
  width: 100vw;
  background-color: #1b3996;
  color: white;
  display: flex;
  &__title{
  font-size: 40px;
  font-weight: 900;
  padding-top: 20px;
  }
  &__login{
    margin-left: 70%;
    font-size: 20px;
    font-weight: 900;
    padding-top: 35px;

  }
  
}

.post__main{
  height:90vh;
  width: 100%;
  position: relative;
  background-color: grey;__
  
  &__video{
    
    // height : 45%;
    width: 100%; 
    background-color: #fff;
    position: absolute;    
  }
  &__text{
    position: absolute;
    padding-top: 30%;
    color: #fff;
    font-size: 30px;
    padding-left: 10%;
    font-weight: bold;
    background-color: rgba( 0, 0, 0, .2);
    width: 90vw;
    height:41vh;
   
  }
  &__signin{
    position: absolute;
    height: 40vh;
    width:15%;
    background-color: #fff;
    margin-left: 75%;
    margin-top: 5%;
    background-color: rgba( 0, 0, 0, .40);
    color:white;
    // border:20px;
    text-align: center;
    h2{
      background-color: #1b3996;
      // padding-left: 35px;
    }
  .field{
    margin-top: 10px;
  }
  }
}

.footer{
  height: 100px;
  width: 100%;
  background-color: #1b3996;
  margin-top: 80px;
  color: white;
  display: flex;
  p{
    padding-top: 30px;
    padding-left: 50px;
  }

}