.main__footer{
  height: 100px;
  width: 100%;
  color: white;
  display: flex;
  
  p{
    padding-top: 30px;
    padding-left: 50px;
    
  }

}

.main__header{
  height:100px;
  width: 100vw;
  background-color: #1b3996;
  color: white;
  display: flex;

  &__title{
  font-size: 40px;
  font-weight: 900;
  padding-top: 20px;
  padding-left:30px;
  a{
    color:white;
  }
  }
  &__login{
    margin-left: 60%;
    font-size: 20px;
    font-weight: 900;
    padding-top: 35px;
    display: flex;
    a{
      color:white;
      margin-right: 10px;
    }

  }
  

}